--
-- PostgreSQL database dump
--

\restrict B1bfSRijWqFbIq986QTSjZc28Tsn8c7X5AGpeUnk4q0gWVp7PQIOBzQnh5ykWeC

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: trg_updated_em(); Type: FUNCTION; Schema: public; Owner: kali
--

CREATE FUNCTION public.trg_updated_em() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_em = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.trg_updated_em() OWNER TO kali;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: marcacoes; Type: TABLE; Schema: public; Owner: kali
--

CREATE TABLE public.marcacoes (
    id integer NOT NULL,
    ticket character varying(30) NOT NULL,
    data date NOT NULL,
    cliente character varying(10) DEFAULT 'antigo'::character varying NOT NULL,
    urgencia character varying(10) DEFAULT 'normal'::character varying NOT NULL,
    estado character varying(20) DEFAULT 'Pendente'::character varying NOT NULL,
    medico character varying(150) DEFAULT ''::character varying NOT NULL,
    processo character varying(50) DEFAULT ''::character varying NOT NULL,
    criado_em timestamp without time zone DEFAULT now() NOT NULL,
    updated_em timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT marcacoes_cliente_check CHECK (((cliente)::text = ANY ((ARRAY['novo'::character varying, 'antigo'::character varying])::text[]))),
    CONSTRAINT marcacoes_estado_check CHECK (((estado)::text = ANY ((ARRAY['Pendente'::character varying, 'Concluido'::character varying, 'Cancelado'::character varying])::text[]))),
    CONSTRAINT marcacoes_urgencia_check CHECK (((urgencia)::text = ANY ((ARRAY['normal'::character varying, 'urgente'::character varying])::text[])))
);


ALTER TABLE public.marcacoes OWNER TO kali;

--
-- Name: marcacoes_id_seq; Type: SEQUENCE; Schema: public; Owner: kali
--

CREATE SEQUENCE public.marcacoes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.marcacoes_id_seq OWNER TO kali;

--
-- Name: marcacoes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kali
--

ALTER SEQUENCE public.marcacoes_id_seq OWNED BY public.marcacoes.id;


--
-- Name: notificacoes; Type: TABLE; Schema: public; Owner: kali
--

CREATE TABLE public.notificacoes (
    id integer NOT NULL,
    ativa boolean DEFAULT false NOT NULL,
    mensagem_pt text DEFAULT ''::text NOT NULL,
    mensagem_en text DEFAULT ''::text NOT NULL,
    criado_em timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.notificacoes OWNER TO kali;

--
-- Name: notificacoes_id_seq; Type: SEQUENCE; Schema: public; Owner: kali
--

CREATE SEQUENCE public.notificacoes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notificacoes_id_seq OWNER TO kali;

--
-- Name: notificacoes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kali
--

ALTER SEQUENCE public.notificacoes_id_seq OWNED BY public.notificacoes.id;


--
-- Name: staff; Type: TABLE; Schema: public; Owner: kali
--

CREATE TABLE public.staff (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    chave character varying(100) NOT NULL,
    nome character varying(150) NOT NULL,
    tipo character varying(20) NOT NULL,
    clinica boolean DEFAULT false NOT NULL,
    criado_em timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT staff_tipo_check CHECK (((tipo)::text = ANY ((ARRAY['medico'::character varying, 'recepcionista'::character varying])::text[])))
);


ALTER TABLE public.staff OWNER TO kali;

--
-- Name: staff_id_seq; Type: SEQUENCE; Schema: public; Owner: kali
--

CREATE SEQUENCE public.staff_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.staff_id_seq OWNER TO kali;

--
-- Name: staff_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kali
--

ALTER SEQUENCE public.staff_id_seq OWNED BY public.staff.id;


--
-- Name: marcacoes id; Type: DEFAULT; Schema: public; Owner: kali
--

ALTER TABLE ONLY public.marcacoes ALTER COLUMN id SET DEFAULT nextval('public.marcacoes_id_seq'::regclass);


--
-- Name: notificacoes id; Type: DEFAULT; Schema: public; Owner: kali
--

ALTER TABLE ONLY public.notificacoes ALTER COLUMN id SET DEFAULT nextval('public.notificacoes_id_seq'::regclass);


--
-- Name: staff id; Type: DEFAULT; Schema: public; Owner: kali
--

ALTER TABLE ONLY public.staff ALTER COLUMN id SET DEFAULT nextval('public.staff_id_seq'::regclass);


--
-- Data for Name: marcacoes; Type: TABLE DATA; Schema: public; Owner: kali
--



--
-- Data for Name: notificacoes; Type: TABLE DATA; Schema: public; Owner: kali
--

COPY public.notificacoes (id, ativa, mensagem_pt, mensagem_en, criado_em) FROM stdin;
1	f	As consultas para amanh├å est├åo adiadas		2026-05-17 18:24:10.022077
\.


--
-- Data for Name: staff; Type: TABLE DATA; Schema: public; Owner: kali
--

COPY public.staff (id, username, chave, nome, tipo, clinica, criado_em) FROM stdin;
1	armando	1234arma	Dr. Armando Silva	medico	t	2026-05-17 18:20:33.934376
2	maria	vida2026	Maria Santos	recepcionista	f	2026-05-17 18:20:33.934376
3	luisa	vida2026	Lu┬ísa M┬ário	recepcionista	f	2026-05-17 18:20:33.934376
\.


--
-- Name: marcacoes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kali
--

SELECT pg_catalog.setval('public.marcacoes_id_seq', 96, true);


--
-- Name: notificacoes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kali
--

SELECT pg_catalog.setval('public.notificacoes_id_seq', 1, true);


--
-- Name: staff_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kali
--

SELECT pg_catalog.setval('public.staff_id_seq', 3, true);


--
-- Name: marcacoes marcacoes_pkey; Type: CONSTRAINT; Schema: public; Owner: kali
--

ALTER TABLE ONLY public.marcacoes
    ADD CONSTRAINT marcacoes_pkey PRIMARY KEY (id);


--
-- Name: marcacoes marcacoes_ticket_key; Type: CONSTRAINT; Schema: public; Owner: kali
--

ALTER TABLE ONLY public.marcacoes
    ADD CONSTRAINT marcacoes_ticket_key UNIQUE (ticket);


--
-- Name: notificacoes notificacoes_pkey; Type: CONSTRAINT; Schema: public; Owner: kali
--

ALTER TABLE ONLY public.notificacoes
    ADD CONSTRAINT notificacoes_pkey PRIMARY KEY (id);


--
-- Name: staff staff_pkey; Type: CONSTRAINT; Schema: public; Owner: kali
--

ALTER TABLE ONLY public.staff
    ADD CONSTRAINT staff_pkey PRIMARY KEY (id);


--
-- Name: staff staff_username_key; Type: CONSTRAINT; Schema: public; Owner: kali
--

ALTER TABLE ONLY public.staff
    ADD CONSTRAINT staff_username_key UNIQUE (username);


--
-- Name: idx_marcacoes_data; Type: INDEX; Schema: public; Owner: kali
--

CREATE INDEX idx_marcacoes_data ON public.marcacoes USING btree (data);


--
-- Name: idx_marcacoes_estado; Type: INDEX; Schema: public; Owner: kali
--

CREATE INDEX idx_marcacoes_estado ON public.marcacoes USING btree (estado);


--
-- Name: idx_marcacoes_medico; Type: INDEX; Schema: public; Owner: kali
--

CREATE INDEX idx_marcacoes_medico ON public.marcacoes USING btree (medico);


--
-- Name: idx_marcacoes_ticket; Type: INDEX; Schema: public; Owner: kali
--

CREATE INDEX idx_marcacoes_ticket ON public.marcacoes USING btree (ticket);


--
-- Name: marcacoes set_updated_em; Type: TRIGGER; Schema: public; Owner: kali
--

CREATE TRIGGER set_updated_em BEFORE UPDATE ON public.marcacoes FOR EACH ROW EXECUTE FUNCTION public.trg_updated_em();


--
-- PostgreSQL database dump complete
--

\unrestrict B1bfSRijWqFbIq986QTSjZc28Tsn8c7X5AGpeUnk4q0gWVp7PQIOBzQnh5ykWeC

